.toolbar-background {
  background-color: #dc4437;
}
.toolbar-title {
  text-align: left;
  color: #fff;
}
.bar-button-default-ios,
.bar-button-default.bar-button-ios-default,
.bar-button-clear-ios-default {
  color: #fff;
}
